.nav {
    position: fixed;
    background-color: #FA595B;
    width: 100%;
    height: 70px;
    top: 0;
    box-shadow: (rgb(110, 110, 110) 0px 0px 5px);
    z-index: 99;
    display: flex;
    justify-content: space-between;

    img {
	height: 60px;
    }
    a {
        font-size: 25px;
        padding: 13px 10px 13px 10px;
        text-decoration: none;
        color: white;
    }
}

